body{
    background-color: #f0cac6;
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header{

/* background-color:#E7B9C2; */
/* background-color:#A6C8E8 */
background-color:#FF6F61 ;
padding: 9px;
text-align: center;
color: white;
}
nav {
text-align: center;
background-color: #6c2e28;
padding: 20px 0;
}
nav a {
color: white;
font-size: 18px;
margin: 0 15px;
text-decoration: none;
font-size: 30px;
font-family: "Montserrat Alternates", sans-serif;
font-weight: 100;
font-style: normal;

}
nav a:hover {
color: lawngreen;
text-decoration: underline;
}   
h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
}
.paragraphe{
    font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-size: 40px;
}
h2{
    text-align: center;
    font-weight: bold;
    margin-top: 18px;
    text-decoration: underline;
    font-size: 30px;
}
/* Style du contenu */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.content {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    color: #333;
    text-align: justify;
    line-height: 1.6; /* Augmente l'espacement entre les lignes */
    font-family: 'Times New Roman', serif; /* Utilise une police de caractères différente */
}
.paraphe {
    font-family: "Montserrat", sans-serif; /* Police de caractères élégante et professionnelle */
    font-size: 16px; /* Taille de police confortable pour la lecture */
    line-height: 1.6; /* Espacement entre les lignes pour une meilleure lisibilité */
    text-align: justify; /* Alignement justifié pour une apparence nette et ordonnée */
    color: #333; /* Couleur de texte sombre pour un bon contraste */
}
h3{
    text-align: center;
text-decoration: underline;
font-size: 30px;
}
/* Style des témoignages */
.image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 3px solid #B99B91; /* Ajoute une bordure autour des images */
}

.image img:hover {
    transform: scale(1.1); /* Augmente la taille de l'image au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style du footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #a1624d;
    color: white;
     margin-top: 20px;
}
 .logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
h2, p, h3{
text-align: center;
}      
.container {
display: flex;
justify-content: center;
}
.image {
    margin: 0 20px; /* Espace entre les images */
    text-align: center; /* Centrer le texte à l'intérieur de chaque image */
}
.image img {
    display: block; /* Pour éviter les espaces blancs en bas des images */
    margin-bottom: 10px; /* Espacement entre l'image et le paragraphe */
}
.temoigne {
    font-style: italic; /* Style italic pour le paragraphe de témoignage */
}